In [1]:
from sklearn.datasets import load_iris

iris = load_iris()
x = iris['data']
y = iris['target']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)
x_train.shape, y_train.shape

((105, 4), (105,))

In [2]:
from sklearn.cluster import KMeans

kms = KMeans(n_clusters=3, random_state=0)
kms.fit(x_train)
kms.score(x_test, y_test)

-21.26060647630659

In [3]:
# 차이가 많이 나면 확인해봐야한다.
import pandas as pd
pd.DataFrame([kms.predict(x_test), y_test], index=['예측값','실제값'])

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
예측값,2,2,1,0,1,0,1,2,2,2,...,2,1,2,2,2,0,1,0,1,1
실제값,2,1,0,2,0,2,0,1,1,1,...,1,0,1,1,1,2,0,2,0,0