In [1]:
import pandas as pd

In [2]:
# 시리즈 생성
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
# 인덱스 숫자로 호출
a[0]

1

In [4]:
a.index
# 0부터 4면 멈춘다 한계단씩 올라간다.

RangeIndex(start=0, stop=4, step=1)

In [5]:
a.values
# 시리즈 안에 넘파이가 들어있다.

array([1, 2, 3, 4])

In [6]:
a.index = ['a','b','c','d']
a

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
# 설정한 인덱스 문자로 호출
a['a']

1

In [8]:
# 인덱스를 문자로 바꿔서 오브젝트 타입으로 변경 됨
a.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
# 브로드 캐스트된다. a의 값이 2보다 크면 True, 아니면 False
a > 2

a    False
b    False
c     True
d     True
dtype: bool

In [10]:
a[a>2]
# 조건이 맞는 것 만 나온다.

c    3
d    4
dtype: int64

In [11]:
# 브로드캐스트 되어 각 값에 2가 곱해진다.
a * 2

a    2
b    4
c    6
d    8
dtype: int64

In [12]:
# 딕셔너리 생성 키와 값
dict_a = {
    '이름' : '오동주',
    '직업' : 'IT',
    '취미' : '컴퓨터',
    '약점' : None
}
b = pd.Series(dict_a)

In [13]:
# dict_a['이름']
b['이름']

'오동주'

In [14]:
b['이름'] = 'Dongju'
b

이름    Dongju
직업        IT
취미       컴퓨터
약점      None
dtype: object

In [15]:
b.isnull()

이름    False
직업    False
취미    False
약점     True
dtype: bool

02 Pandas 자료구조 Series - 시리즈 연습 문제

1번문제 2의 배수이면서 30까지

In [16]:
se1 = pd.Series(list(range(1, 16)))*2
se1

0      2
1      4
2      6
3      8
4     10
5     12
6     14
7     16
8     18
9     20
10    22
11    24
12    26
13    28
14    30
dtype: int64

In [17]:
se1.index = se1

In [18]:
se1

2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [19]:
se1 % 4 == 0

2     False
4      True
6     False
8      True
10    False
12     True
14    False
16     True
18    False
20     True
22    False
24     True
26    False
28     True
30    False
dtype: bool

In [20]:
se1[se1 % 4 == 0] = None
se1

2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

In [21]:
se1.isnull()

2     False
4      True
6     False
8      True
10    False
12     True
14    False
16     True
18    False
20     True
22    False
24     True
26    False
28     True
30    False
dtype: bool