In [4]:
import numpy as np
import pandas as pd

se = pd.Series([1, np.nan, 2, np.nan, 3, np.nan, 4, np.nan, 5])
se

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    NaN
6    4.0
7    NaN
8    5.0
dtype: float64

In [5]:
# 비어 있는 값이 삭제된다.
se.dropna()

0    1.0
2    2.0
4    3.0
6    4.0
8    5.0
dtype: float64

In [6]:
# 비어 있는 값에 값을 넣어준다.
se.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
4    3.0
5    0.0
6    4.0
7    0.0
8    5.0
dtype: float64

In [7]:
# 평균으로 대체(산술평균)
se.fillna(se.mean())

0    1.0
1    3.0
2    2.0
3    3.0
4    3.0
5    3.0
6    4.0
7    3.0
8    5.0
dtype: float64